<div class="container-fluid">
	<nav class="navbar-top clearfix">
		<div class="navbar-toggler pull-left">
			<div class="btn-wrapper">
			  <button class="btn btn-primary" ng-click="appCtrl.toggleNav()">
			      <i class="fa fa-navicon"></i>
			    </button>
			</div>
		</div>
		<!-- <div class="navbar-content pull-right">
			<div class="btn-wrapper">
			  <button class="btn btn-default"
			  			ng-click="appCtrl.Stream.toggle()"
			            ng-class="{active: appCtrl.Stream.status === 1}">
			    <i class="fa fa-headphones" ng-class="{'fa-spinner fa-spin': appCtrl.Stream.status === 2}"></i>
			  </button>
			</div>
			<div class="btn-group btn-wrapper"">
			  <button type="button" class="btn btn-default dropdown-toggle"
			  			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
			  			ng-class="{active: appCtrl.Mpd.isConnected}">
			    <i class="fa fa-plug"></i> <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="" mpd-reconnect">Reconnect</a></li>
			    <li><a href="" mpd-disconnect">Disconnect</a></li>
			  </ul>
			</div>
		</div> -->
	</nav>
</div>