.settings {
	margin-top: 30px;
}

.settings-clicker {
	color: @brand-success;
	&.on, &.connected {
		color: @brand-success !important; 
	}
	&.off {
		color: inherit;	
	}
	&.loading {
		color: @brand-warning !important;
	}
	&.offline {
		color: @brand-danger !important;
	}
}