<div class="songtable">
	<table class="table table-hover table-condensed">
		<thead>
			<th ng-if="stCtrl.options.controls.add!==false"></th>
			<th ng-if="stCtrl.options.controls.fav!==false"></th>
			<th ng-if="stCtrl.options.controls.play!==false"></th>
			<th ng-if="stCtrl.options.columns.pos!==false">Pos</th>
			<th ng-if="stCtrl.options.columns.artist!==false">Artist</th>
			<th>Title</th>
			<th>Album</th>
			<th>Length</th>
			<th ng-if="stCtrl.options.controls.move!==false"></th>
			<th ng-if="stCtrl.options.controls.delete!==false"></th>
		</thead>
		<tbody>
			<tr ng-repeat="song in stCtrl.songs track by $index" ng-class="{ active: song.Id && song.Id === stCtrl.activeId }" >
				<td ng-if="stCtrl.options.controls.add!==false">
					<button class="btn btn-default btn-xs tp" 
							mpd="add" args="song.file">
						<i class="fa fa-plus"></i>

					</button>
				</td>
				<td ng-if="stCtrl.options.controls.fav!==false">
					<div class="btn-group btn-group-xs">
						<button class="btn btn-default btn-xs tp r"
								ng-click="stCtrl.Favs.toggleFav(song.Artist, song.Title)">
								<!-- <span class="right">fav</span> -->
							<i class="fa" ng-class="{ 'fa-heart': stCtrl.Favs.isUserFav(song), 'fa-heart-o': !stCtrl.Favs.isUserFav(song) }"></i>
						</button>
					</div>
				</td>
				<td ng-if="stCtrl.options.controls.play!==false">
					<div class="btn-group btn-group-xs">
						<button class="btn btn-default tp r" 
								mpd="playid" args="song.Id">
								<!-- <span class="right">play</span> -->
							<i class="fa fa-play"></i>
						</button>
					</div>
				</td>
				<td ng-if="stCtrl.options.columns.pos!==false">{{song.Pos}}</td>
				<td ng-if="stCtrl.options.columns.artist!==false">{{song.Artist}}</td>
				<td>{{song.Title}}</td>
				<td>{{song.Album}}</td>
				<td>{{song.Time | timestring}}</td>
				<td ng-if="stCtrl.options.controls.move!==false">
					<div class="btn-group btn-group-xs">
						<button class="btn btn-default tp" 
								mpd="moveid" args="[song.Id, song.Pos - 1]">
								<!-- <span class="left">move up</span> -->
							<i class="fa fa-arrow-up"></i>

						</button>
						<button class="btn btn-default tp l" 
								mpd="moveid" args="[song.Id, song.Pos + 1]">
								<!-- <span class="left">move down</span> -->
							<i class="fa fa-arrow-down"></i>
						</button>
						<button class="btn btn-default tp l" 
								mpd="moveid" args="[song.Id, -1]">
								<!-- <span class="left">play next</span> -->
							<i class="fa fa-arrow-right"></i>
						</button>
					</div>
				</td>
				<td ng-if="stCtrl.options.controls.move!==false">
					<div class="btn-group btn-group-xs">
						<button class="btn btn-default tp l" 
								mpd="deleteid" args="song.Id">
								<!-- <span class="left">remove</span> -->
							<i class="fa fa-remove"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>